body{
    background-color: black;
    
}
.post{
    background-color: white;
    width: 29%;
    
    margin: auto;
    margin-top: 4%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}
.icon{
    font-size: 1.4rem;
    margin-left: 0.7rem;
    padding-top: 7%;
}
.letter{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    margin-left: 8%;
}
.menu{
    font-size: 1.9rem;
    margin-right: 0.8rem;
    padding-top: 2.5%;
}
img{
    width: 100%;
    height: 17rem;
    margin-top: 2.8%;
}
.iconPost{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.7rem;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 5%;
    
}
.text{
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
}
@media (max-width: 950px){
    .letter, .text{
        font-size: 0.7rem;
    }
    .icon{
        font-size: 1.2rem;
        padding-top: 15%;
    }
    .menu{
        font-size: 1.6rem;
    }
    .iconPost{
        font-size: 1.3rem;
    }
    img{
        width: 100%;
        height:12rem;
    }
}
